

<html>
<head>
  <title>Contatos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <body>
    <div class="container">

      <div class="jumbotron">
          <h1>Engenharia de Software</h1>
          <p>PROGRAMAÇÃO WEB BACK END</p>
      </div>

    	<nav class="navbar navbar-default">
    		<div class="container-fluid">
    			<div class="navbar-header">
    				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    				</button>

    				</div>

    				<div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Clientes<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/clientes">Listar</a></li>
                        <li><a href="/clientes/form">Inserir</a></li>
                        <li><a href="#">Remover</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Produtos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/produtos">Listar</a></li>
                        <li><a href="/produtos/form">Inserir</a></li>
                        <li><a href="#">Remover</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Serviços<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/servicos">Listar</a></li>
                        <li><a href="/servicos/form">Inserir</a></li>
                        <li><a href="#">Remover</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Contatos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/contatos">Listar</a></li>
                        <li><a href="/contatos/form">Inserir</a></li>
                        <li><a href="#">Remover</a></li>
                    </ul>
                </li>
              </ul>
    				</div>
    			</div>
    	</nav>

    <h1>Lista de Contatos</h1>
    <div class="table-responsive">
      <table class="table table-hover">
        <tr class="active">
          <td>ID</td>
          <td>Nome</td>
          <td>E-mail</td>
          <td>Fone</td>
        </tr>

        <%for(var i = 0; i < lista.length; i++) {%>

          <tr>
            <td><%=lista[i].id%></td>
            <td><%=lista[i].nome%></td>
            <td><%=lista[i].email%></td>
            <td><%=lista[i].fone%></td>
          </tr>
        <%}%>
      </table>
    </div>

    <footer class="main-footer">
        <p style="text-align: center">Instituto Federal do Piauí - 2018</p>
    </footer>

  </div>
  </body>
</html>
